<form [formGroup]="loginForm" class="login-form">
    
        <mat-form-field appearance = "outline">
            <mat-label>User</mat-label>
            <input class="form-control" type="text" id="username" matInput formControlName="userName" >
        </mat-form-field>


        <mat-form-field appearance = "outline">
            <mat-label>Enter your password</mat-label>
            <input class="form-control" matInput [type]="hide ? 'password' : 'text' " formControlName="password">

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]=" 'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

        </mat-form-field>
        <button value="login" [disabled]="!loginForm.controls.userName || !loginForm.controls.password">Login</button>
        <!-- <mat-button-toggle value="login" >Login</mat-button-toggle> -->
</form>


